<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Освітня платформа</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" [class.show]="isExpanded">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Головна</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-dark" [routerLink]="['/courses']">Каталог курсів</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="isStudent">
            <a class="nav-link text-dark" [routerLink]="['/cart']">Обрані курси</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="isStudent">
            <a class="nav-link text-dark" [routerLink]="['/enrollments']">Моє навчання</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="isTeacher">
            <a class="nav-link text-dark" [routerLink]="['/teacher/courses']">Управління курсами</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" *ngIf="!isUserLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/login']">Вхід</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="!isUserLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/register']">Реєстрація студента</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="!isUserLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/teacher/register']">Реєстрація викладача</a>
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <button class="btn btn-link nav-link text-dark" style="text-decoration: none;" (click)="logout()">Вихід</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
